{% extends 'base.html.twig' %}

{% block migas %}
    <ul class="breadcrumbs hidden-xs">
        <li><a href="{{ path('homepage') }}" class="bc-item bc-item-home">Inicio</a></li>
        <li><a href="{{ path('ofertas_lista') }}" class="bc-item bc-item-home">Ofertas</a></li>
        <li><span class="bc-item">{{ oferta.titulo }}</span></li>
    </ul>
{% endblock %}

{% block body %}

<div class="text-left container">
  <h2>{{ oferta.titulo }}</h2>
      <article class="jumbotron">
          {# <ul class="nav justify-content-end"><a class="nav-link" href="#">editar</a></ul> #}

          {{ oferta.texto | raw }}
					{% if archivos != null %}
					Archivos adjuntos:<br>
							{% for item in archivos %}
							<a href="{{ asset(item.ruta) }}">{{item.name}}</a><br>
							{% endfor %}
					{% endif %}
            <br><br>  Fecha de publicación: {{ oferta.fecha|date('d/m/Y') }}
          {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_PROFESOR')) %}
          <div class="">
          <a  href="{{path('eliminar_oferta',{ 'getid' : oferta.id })}}">Eliminar oferta</a>
          </div>
          {% endif %}
      </article>
</div>

{% endblock %}
