{% extends 'base.html.twig' %}
{% block title %}Listar Profesores{% endblock %}

{% block migas %}
<ul class="breadcrumbs hidden-xs">
	<li><a href="{{ path('homepage') }}" class="bc-item bc-item-home">Inicio</a></li>
	<li><span class="bc-item">Profesores</span></li>
	<li><span class="bc-item">Lista</span></li>
</ul>
{% endblock %}

{% block body %}
<h2>Lista de profesores</h2>

<div class="row profesor">

{# total items count #}
<div class="count">
    <h4>Total de profesores: {{ pagination.getTotalItemCount }}</h4>
</div>

<hr>
	<table class="table table-hover table-bordered" id="AluTable">
	<thead>
	<tr style="background-color: #563d7c">
	{# sorting of properties based on query components #}
		<th>Nombre</th>
		<th>Primer apellido</th>
		<th>Segundo apellido</th>
		<th class="tabOculta">Correo</th>
    {% if is_granted('ROLE_ADMIN') %}
		<th></th>
    {% endif %}
	</tr>
	</thead>

	<tbody>
	{# table body #}
	{% for profesor in pagination %}
	<tr style="background-color: #563d7c">
		<td>{{ profesor.nombre|title }}</td>
		<td>{{ profesor.apellido1|title }}</td>
		<td>{{ profesor.apellido2|title }}</td>
		<td class="tabOculta">{{ profesor.email }}</td>
    {% if is_granted('ROLE_ADMIN') %}
    <td><a href="{{path('eliminar_profesor',{ 'getid' : profesor.id })}}"><button class="btn btn-success" style="width: 100%;">Eliminar</button></a></td>
    {% endif %}
	</tr>
	{% endfor %}
	</tbody>
	</table>

	{# display navigation #}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>



</div>
{% block javascript %}

 <script src="{{asset('js/TableResponsive/js/jquery.responsive-tables.min.js')}}"></script>
 <script src="{{asset('js/TableResponsive/js/app.js')}}"></script>

{% endblock %}
{% endblock %}
